body {
    font-family: 'Arial', sans-serif;
    background-color: #1A1A1A;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #2C3E50;
    color: #FFFFFF;
    border-bottom: 2px solid #FFD700;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 16px; /* Ajuste do tamanho da fonte para dispositivos móveis */
    margin-bottom: 15px; /* Ajuste da margem inferior */
}

.calculator {
    background-color: #34495E;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 16px; /* Ajuste do preenchimento para dispositivos móveis */
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: #E74C3C;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #C0392B;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

.call-to-action {
    background-color: #E74C3C;
    color: #FFFFFF;
    padding: 20px; /* Ajuste do preenchimento para dispositivos móveis */
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
}

.call-to-action h2 {
    margin-bottom: 15px; /* Ajuste da margem inferior */
}

.call-to-action p {
    font-size: 14px; /* Ajuste do tamanho da fonte para dispositivos móveis */
    margin-bottom: 10px; /* Ajuste da margem inferior */
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-link {
    display: inline-block;
    margin-right: 10px; /* Ajuste da margem direita */
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #3498DB;
}

/* Estilos específicos para dispositivos de tela pequena */
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 24px; /* Ajuste do tamanho da fonte para dispositivos móveis */
    }

    .cta-button {
        font-size: 14px; /* Ajuste do tamanho da fonte para dispositivos móveis */
    }

    .calculator {
        padding: 12px; /* Ajuste do preenchimento para dispositivos móveis */
    }

    label,
    input {
        font-size: 14px; /* Ajuste do tamanho da fonte para dispositivos móveis */
    }

    button {
        padding: 8px; /* Ajuste do preenchimento para dispositivos móveis */
    }

    #result {
        margin-top: 16px; /* Ajuste da margem superior para dispositivos móveis */
    }

    .call-to-action h2 {
        font-size: 18px; /* Ajuste do tamanho da fonte para dispositivos móveis */
    }

    .call-to-action p {
        font-size: 12px; /* Ajuste do tamanho da fonte para dispositivos móveis */
    }

    .social-link {
        margin-right: 8px; /* Ajuste da margem direita para dispositivos móveis */
    }
}
