body {
    font-family: 'Arial', sans-serif;
    background-color: #1A1A1A; /* Fundo escuro */
    color: #FFFFFF; /* Texto branco para contraste */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #2C3E50; /* Azul escuro para o cabeçalho */
    color: #FFFFFF;
    border-bottom: 2px solid #FFD700;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFD700; /* Amarelo para o botão de chamada para ação */
    color: #1A1A1A; /* Texto escuro para o contraste no botão */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #FFA500; /* Laranja ao passar o mouse sobre o botão */
}

.calculator {
    background-color: #34495E; /* Azul mais escuro para a calculadora */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: #E74C3C; /* Vermelho escuro para o botão */
    color: #FFFFFF;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #C0392B; /* Vermelho mais escuro ao passar o mouse sobre o botão */
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

.call-to-action {
    background-color: #E74C3C; /* Vermelho escuro para a chamada para ação */
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
}

.call-to-action h2 {
    margin-bottom: 20px;
}

.call-to-action p {
    font-size: 16px;
    margin-bottom: 15px;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-link {
    display: inline-block;
    margin-right: 15px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #3498DB; /* Azul para os links sociais ao passar o mouse sobre eles */
}
